.menu {
  &__item {

  }

  &__title {
    width: 100%;
    font-size: 20px;
    padding: 10px;
    text-align: left;
    border: none;

    &:hover {
      background-color: var(--color-hover-grey);
    }
  }

  &__body {
    display: none;
    background-color: var(--color-grey-lighter);

    &_show {
      display: block;
    }
  }
}
